@import "../../../../colors";

.navbar {

    // mobile by default falls back to other colors
    a.navbar-item,
    .navbar-link {
        background-color: $primary;
        color: $primary-invert;

        &:focus,
        &:hover,
        &.is-active {
            background-color: darken($primary, 5%);
            color: $primary-invert;
        }
    }

    .navbar-brand .navbar-item {
        background-color: $secondary;
    }

    z-index: 201;
}

.notification {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 200;
}

$progress-transition: width 0.5s ease;

.progress::-webkit-progress-value {
    transition: $progress-transition;
}

// super weird bug where putting both in a single selector breaks webkit browser
// (at least Chromium 134 on my machine)
.progress::-moz-progress-bar {
    transition: $progress-transition;
}
