.logo-wrapper {
    float: right;
    width: 200px;
    max-width: 100%;
}

.centre-logo {
    display: inline-block;
    width: 450px;
    max-width: calc(100vw - 7rem);
}

.lab-logo {
    // add padding to give it the same size as the university logo (LAB logo is 10px lower)
    background-color: #3273dc;
    padding: 5px;
    width: 210px;
}


.version {
    line-height: 3em;
}